*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 2vh;
  left: 10%;
  z-index: 2;
}
#Progress-bar {
  margin-top: 2em;
  width: 100%;
  background-color: #ddd;

  border-radius: 25px;
  height: 30px;
  /* box-shadow: 0 16px 1px rgba(0, 0, 0, 0.8); */
}
#MyBar {
  background-color: green;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  color: #ddd;
  line-height: 30px;
  text-align: center;
}
img {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-size: cover;
}

#Start-Btn {
  margin: 1em;
  border-radius: 30px;
}
:root {
  --speed: 5s;
}
.blur {
  filter: blur(1.5em);
}
.clear {
  animation: clearImg(--speed);
}

@keyframes clearImg {
  0% {
    filter: blur(1.5em);
  }

  10% {
    filter: blur(1.5em);
  }

  20% {
    filter: blur(1.5em);
  }
  30% {
    filter: blur(1.5em);
  }
  40% {
    filter: blur(1.5em);
  }

  50% {
    filter: blur(1.5em);
  }
  60% {
    filter: blur(1.5em);
  }
  70% {
    filter: blur(1.5em);
  }
  80% {
    filter: blur(1.5em);
  }
  90% {
    filter: blur(1.5em);
  }
  100% {
    filter: blur(1.5em);
  }
}
